.my-btn{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: white;
    border: none;

    padding: 2% 10%;
    width: 15vw;
    height: 50px;

    cursor: pointer;
    outline: inherit;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /*text-align: start;*/
}

.my-btn > img{
    position: absolute;
    right: 10%;

    transition: ease-in-out 0.2s;
}

.my-btn :after{
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 3px;
    top: calc(100% + 3px);
    left: 0;
}

.my-btn:hover img{
    right: 7%;
}

.my-btn:hover{
    background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1200px) {
    .my-btn{
        width: 20vw;
    }
}

@media only screen and (max-width: 550px) {
    .my-btn{
        width: 100%;
    }
}