.dance-section{
    padding: 10%;
    text-align: start;
    background-color: #F0F0F0;
}

.dance-container > h1{
    text-align: start;
}

.dance-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.dance-container > p > b{
    font-weight: 600;
}

.dance-container > p {
    margin-bottom: 5vh;
}

.gallery{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.gallery > h1{
    align-self: center;
    margin-bottom: 0;
}


.gallery >img{
    width: 100%;
}

@media only screen and (max-width: 770px) {
    .dance-section{
        padding: 10%;
        text-align: center;
        background-color: #F0F0F0;
    }

    .dance-container > h1{
        text-align: center;
    }

    .dance-container{
        width: 80%;
        align-items: center;
        margin: auto;
    }

    .dance-container > p > b{
        font-weight: 600;
    }

    .dance-container > p {
        margin-bottom: 5vh;
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

