.dance-section {
    padding: 10%;
    text-align: start;
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
}

.dance-container > h1 {
    text-align: start;
}

.right-dance-container {
    align-self: center;
}

.right-dance-container > img {
    width: 100%;

}

.dance-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.dance-container > p > b {
    font-weight: 600;
}

.dance-container > p {
    margin-bottom: 5vh;
}

@media only screen and (max-width: 770px) {

    .dance-section {
        padding: 10%;
        text-align: center;
        background-color: #F0F0F0;
        grid-template-columns: 1fr;
    }

    .right-dance-container > img {
        width: 60%;
    }

    .dance-container > h1 {
        text-align: center;
    }

    .dance-container {
        width: 80%;
        align-items: center;
        margin: auto;
    }

    .dance-container > p > b {
        font-weight: 600;
    }

    .dance-container > p {
        margin-bottom: 5vh;
    }
}