.PD-container {
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: end;
    border-radius: 0.35em;
    overflow: hidden;
}


.UI-container > h2, .UI-container > p {
    color: white;
    margin-bottom: 10%;
}

.UI-container > h2 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 3%;
}

.UI-container > p {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 3%;
    width: 80%;
}

.UI-container {
    width: 100%;
    padding-left: 8%;
    padding-bottom: 9%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, 1));
}

@media only screen and (max-width: 1200px) {
    .PD-container {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 900px) {
    .PD-container {
        height: 300px;
        width: 300px;
    }
    .UI-container > p {
        width: 70%;
    }
    .UI-container{

        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    }
}

@media only screen and (max-width: 350px) {
    .PD-container {
        height: 250px;
        width: 250px;
    }

}